<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <%- include('shared/head'); %>
    </head>
    <body>
        <%- include('shared/nav-bar', { user }); %>
        
        <main class="container">
            <aside>
                <p class="center-align"><b>Ola! <%= user.nome %></b></p>
                <ul class="collection">
                    <li class="collection-item">Data de cadastro: <%=  moment(user.createdAt).format('DD/MM/YYYY') %></li>
                    <li class="collection-item">Email: <%= user.email %></li>
                </ul>
            </aside>
            <section>
                <div class="col m10 offset-m1 post-card">
                    <ul class="collapsible">
                        <li>
                          <div class="collapsible-header"  title="clique para expandir">Suas Perguntas Total: (<%= perguntas.length %>)</div>
                          <div class="collapsible-body">
                            <% if(perguntas.length != 0) { %>
                                <table class="striped">
                                    <thead>
                                      <tr>
                                          <th>Suas perguntas</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% perguntas.forEach(function(item) { %>
                                            <tr>
                                                <td>
                                                    <a href="/pergunta/<%= item.id %>" class="collection-item"><%= item.titulo %></a>
                                                </td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                  </table>
                            <% } %>
                            <% if(perguntas.length == 0) { %>
                                <p class="center-align"><b>Você não criou nehuma pergunta ainda</b></p>
                            <% } %>
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header" title="clique para expandir">Suas Respostas  (Total: <%= respostas.length %>)</div>
                          <div class="collapsible-body">
                            <% if(respostas.length != 0) { %>
                                <table class="striped">
                                    <thead>
                                      <tr>
                                          <th>Suas postagens</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% var pos = 0; var neg = 0; %>
                                        <% respostas.forEach(function(item) { %>
                                            <tr>
                                                <td class="truncate">
                                                    <a href="/pergunta/<%= item.perguntaId %>" class="collection-item"><%= item.texto %></a>
                                                </td>
                                            </tr>
                                        <% pos += item.positivos; %>
                                        <% neg += item.negativos; %>
                                        <%  }); %>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>Total de pontos positivos: <%= pos %></td>
                                        </tr>
                                        <tr>
                                            <td>Total de pontos negativos: <%= neg %></td>
                                        </tr>
                                    </tfoot>
                                  </table>
                            <% } %>
                            <% if(respostas.length == 0) { %>
                                <p class="center-align"><b>Você respondeu nada ainda</b></p>
                            <% } %>
                          </div>
                          </div>
                        </li>
                      </ul>
                   
                </div>
                
                
            </section>
            <div class="right-align">
                <a class="btn waves-effect waves-light" href="/perguntar">
                    <i class="material-icons left">add</i>
                    Perguntar Algo
                </a>
            </div>
        </main>
        
        <%- include('shared/footer'); %>
        <script>
              $(document).ready(function(){
                    $('.collapsible').collapsible();
                });
        </script>
    </body>
</html>